/*coolors.co palette:
light grey	#D8DBE2
steel blue	#A9BCD0
cadet blue	#58A4B0
charcoal:	#373F51
dark grey:	#1B1B1E */

/*Global styles
-----------------------------------------------*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #D8DBE2;
	color: #1B1B1E;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 0.6px;
}

img {
	width:300px;
}

h1 {
	font-size: 60px;
	padding: 10px 0;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

h1, h2 {
	font-family: 'Epilogue', sans-serif;
	margin: 20px 0;
	line-height:1;
}

.dropshadow {
  text-shadow:  -2px 2px #58A4B0,
				-2px 2px 5px #1B1B1E;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}

/*Profile
-----------------------------------------------*/
header {
	background: #373F51;
	color: #D8DBE2;
}


/*Projects
-----------------------------------------------*/
.project-item {
	overflow: hidden;
	margin-bottom: 20px;
} 

.project-item img{
	float: left;
	margin-right: 20px;
}

.project-item h3{
	margin: 0;
}

.btn {
	color: #D8DBE2;
	background: #373F51;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}

.btn:hover{
	color: rgb(216, 219, 226, 50%);
}


/*Work experience
-----------------------------------------------*/
.work-experience {
	background: #A9BCD0;
}


/*Education
-----------------------------------------------*/
.education-section {
}

/*Contact info
-----------------------------------------------*/
footer {
	background: #373F51;
	color: #D8DBE2;
}

footer a {
	color:#ffffff;
}

